.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@media print {
  body * {
    visibility: hidden;
  }
  #quadratic-with-options, #quadratic-with-options * {
    visibility: visible;
  }
  #quadratic-with-options {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.pointer:hover {
  cursor: pointer;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}
.field {
  position: relative;
  margin: 30px;
}
.textlabel {
  z-index: -1;
  font-size: 1.2em;
  position: relative;
  position: absolute;
  left: 1em;
  top: 1.6em;
  transition: all 0.2s ease-in-out;
}
.textbox {
  background: none;
  border: none;
  border-bottom: 1px solid grey;
  font-size: 1.2em;
  position: relative;
  /*&:focus {
   outline: none;
   border-color: blue;
   }*/
  /*&:focus + .textlabel {
   font-size: 0.8em;
   top: 1em;
   left: 1.2em;
   font-weight: bold;
   color: blue;
   }*/
}
.textbox-focused {
  outline: none;
  border-color: blue;
}
.textbox-focused + .textlabel {
  font-size: 0.8em;
  top: 1em;
  left: 1.2em;
  font-weight: bold;
  color: blue;
}

.maxWidth {
  max-width: 300px;
}

